[Desktop Entry]
Type=Application
Name=Displays Settings
GenericName=Output configuration utility
Comment=nwg-displays with Hyprland Lua support
Exec=/home/ultsaza/.local/bin/nwg-displays
Icon=nwg-displays
Terminal=false
Categories=Settings;DesktopSettings;
